body {
  background-color: #c6b6b6;
  color: #160606;
  }
  
  .menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #665656;
    box-shadow: 0 0 10px #665656;
  }
  
  .menu li {
  float: left;
  }
  
  .user {
    display: block;
    float: left;
    background-color: #261616;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    box-shadow: 0 0 10px #261616;
  }
  
  .menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
  }
  
  .menu li a:hover {
    background-color: #463636;
  }
  
  .content {
  margin: 10px 0;
  }
  
  .content .card {
  margin: 10px 0;
  padding: 5px 5px;
  background-color: #b1a1a1;
  color: #160606;
  box-shadow: 0 0 5px #b1a1a1;
  }
  
  .content .card a {
    color: #120202;
    text-decoration: none;
  }
  
  .content .card a:hover {
    color: white;
  }
  
  .content .card:hover {
    background-color: #463636;
    color: white;
    box-shadow: 0 0 5px #463636;
  }
  
  .content .card:hover a {
    color: white;
  }
  
  .content .card form {
    float: right;
  }

  .select_wrapper select {
    border-radius: 0;
    background: #463636;
    color: white;
    height: 20px;
    font-size: 12px;
    padding: 5px;
    border: 0;
    line-height: 1;
    -webkit-appearance: none;
    width: 268px;
  }

  .content .card:hover .select_wrapper select {
    background-color: #c6b6b6;
    color: #160606;
  }

  .content .card:hover .submit_rating {
    background-color: #c6b6b6;
    color: #160606;
  }

  .submit_rating {
    border: none;
    color: white;
    background-color: #463636; 
  }

  .submit_rating:hover {
    background-color: #160606;
  }

  .card_content {
    background-color: #b1a1a1;
    margin: 10px 0;
    padding: 5px 10px;
    box-shadow: 0 0 5px #b1a1a1;
  }

  .tags_block {
    background-color: #b1a1a1;
    margin: 10px 0;
    padding: 5px 10px;
    box-shadow: 0 0 5px #b1a1a1;
  }

  .tags_block span {
    display: inline-block;
    width: fit-content;
    margin: 5px 5px;
    padding: 4px 4px;
    background-color: #463636;
    color: white;
    box-shadow: 0 0 5px #463636;
  }

  .tags_block p {
    display: inline-block;
    width: fit-content;
    margin: 5px 5px;
    padding: 4px 4px;
    background-color: #463636;
    color: white;
    box-shadow: 0 0 5px #463636;
  }

  .rate_page_form {
    background-color: #b1a1a1;
    margin: 10px 0;
    padding: 5px 10px;
    box-shadow: 0 0 5px #b1a1a1;
  }

  .card_picture {
    width: 200px;
    height: 200px;
    border: 1px dotted #160606;
  }