<!-- templates/my_ratings.html-->
{% extends 'base.html' %}

{% block title %}My ratings{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  <h2>Your ratings are listed below:</h2>
  {% if ratings %}
  <div class='content'>
  {% for rating in ratings %}
  <div class="card">
    <a href="{% url 'rate' rating.rating_card.id %}">You are {{ rating.rating }} in {{ rating.rating_card.title }}</a>
  </div>
  {% endfor %}
  </div>
  {% else %}
  <p>You didn't rate anything yet!</p>
  {% endif %}
  <ul>
    <li><a href="{% url 'logout' %}">logout</a></li>
  </ul>
{% else %}
  <p>You must be logged in to see this page!</p>
  <ul>
  <li><a href="{% url 'login' %}">login</a></li>
  <li><a href="{% url 'signup' %}">signup</a></li>
  </ul>
{% endif %}
{% endblock %}
