<!-- templates/my_recommendations.html-->
{% extends 'base.html' %}

{% block title %}My recommendations{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  <h2>Your recommendations are listed below:</h2>
  {% if recommendations %}
  <div class='content'>
  {% for recommendation in recommendations %}
  <div class="card">
    <a href="{% url 'rate' recommendation.rating_card.id %}">{{ recommendation.rating_card.title }} with rating {{ recommendation.value }}</a>
  </div>
  {% endfor %}
  </div>
  {% else %}
  <p>None yet! Please rate more cards first! Or wait about 5 minutes for recommendations to be ready...</p>
  {% endif %}
  <ul>
    <li><a href="{% url 'logout' %}">logout</a></li>
  </ul>
{% else %}
  <p>You must be logged in to see this page!</p>
  <ul>
  <li><a href="{% url 'login' %}">login</a></li>
  <li><a href="{% url 'signup' %}">signup</a></li>
  </ul>
{% endif %}
{% endblock %}
