<!-- templates/my_ratings.html-->
{% extends 'base.html' %}

{% block title %}My ratings{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  {% if data %}
  <h2>Your ratings are listed below:</h2>
  <div class='content'>
      {% for e in data %}
        <div class="card">
          <a href="{% url 'rate' e.rating_card.id %}">You are {{ e.rating }} in {{ e.rating_card.title }}</a>
          <form method='POST' class="home_rateform">
            {% csrf_token %}
            <span class="select_wrapper">
              {{ form.rating }}
            </span>
            <span>
              <input name="rating_card" id="id_rating_card" value="{{ e.id }}" type="hidden">
            </span>
            <input class="submit_rating" type="submit" value="Rate">
          </form>
        </div>
      {% endfor %}
      </div>
      <div class='pagination'>
      {% for page in pagination %}
        {{ page|safe }}
      {% endfor %}
  </div>
  {% else %}
  <p>You didn't rate anything yet!</p>
  {% endif %}
  <ul>
    <li><a href="{% url 'logout' %}">logout</a></li>
  </ul>
{% else %}
  <p>You must be logged in to see this page!</p>
  <ul>
  <li><a href="{% url 'login' %}">login</a></li>
  <li><a href="{% url 'signup' %}">signup</a></li>
  </ul>
{% endif %}
{% endblock %}
