<!-- templates/new_card.html-->
{% extends 'base.html' %}

{% block title %}New card{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <h2 class='heading'>Create new card</h2>
    <div class='wrapper'>
      <form method="POST">
          {% csrf_token %}
          {{ form.as_p }}
      <button type="submit">Submit</button>
      </form>
    </div>
{% else %}
  <p>You must be logged in to see this page!</p>
  <ul>
  <li><a href="{% url 'login' %}">login</a></li>
  <li><a href="{% url 'signup' %}">signup</a></li>
  </ul>
{% endif %}
{% endblock %}
