<!-- templates/statistics.html-->
{% extends 'base.html' %}

{% block title %}Statistics{% endblock %}

{% block content %}
  <h2 class='heading'>Statistics</h2>
  {% load static %}
  <div class='wrapper'>
    <h3>Singular values</h3>
    <img src="{% static "predicted_observed_sv.png" %}" alt="Singular values">
    <h3>Ratings</h3>
    <img src="{% static "observed.png" %}" alt="Ratings">
    <h3>Predicted Ratings</h3>
    <img src="{% static "predicted.png" %}" alt="Predicted ratings">

    <h3>Observed User Rating Distribution</h3>
    <img src="{% static "user_dist_o.png" %}" alt="Observed User Rating Distribution">
    <h3>Predicted User Rating Distribution</h3>
    <img src="{% static "user_dist_p.png" %}" alt="Predicted User Rating Distribution">

    <h3>Observed Card Rating Distribution</h3>
    <img src="{% static "card_dist_o.png" %}" alt="Observed Card Rating Distribution">
    <h3>Predicted Card Rating Distribution</h3>
    <img src="{% static "card_dist_p.png" %}" alt="Predicted Card Rating Distribution">
  </div>
{% endblock %}
