<!-- templates/home.html-->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% load static %}
{% if user.is_authenticated %}
  {% include 'menu.html' %}
  <div class='content'>
  {% for title, id in cards %}
    <div class="card">
      <a href="{% url 'rate' id %}">{{ title }}</a>
      <form method='POST' class="home_rateform">
        {% csrf_token %}
        <span class="select_wrapper">
          {{ form.rating }}
        </span>
        <span>
          <input name="rating_card" id="id_rating_card" value="{{ id }}" type="hidden">
        </span>
        <input class="submit_rating" type="submit" value="Rate">
      </form>
    </div>
  {% endfor %}
  </div>
  <div class='pagination'>
  {% for page in pagination %}
    {{ page|safe }}
  {% endfor %}
  </div>
{% else %}
{% include 'login.html' %}
{% endif %}
{% endblock %}
