<!-- templates/home.html-->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  <p>Hi {{ user.username }}!</p>
  <ul>
  <li>Start rating</li>
  <li><a href="{% url 'new-card' %}">Create new card</a></li>
  <li><a href="{% url 'my-ratings' %}">My ratings</a></li>
  <li><a href="{% url 'logout' %}">logout</a></li>
  </ul>
  <ul>
  {% for title, id in cards %}
  <li>{{ title }}, {{ id }} <a href="{% url 'rate' id %}">Rate this card</a></li>
  {% endfor %}
  </ul>
{% for page in pagination %}
  {{ page|safe }}
{% endfor %}
{% else %}
  <p>You are not logged in</p>
  <ul>
  <li><a href="{% url 'login' %}">login</a></li>
  <li><a href="{% url 'signup' %}">signup</a></li>
  </ul>
{% endif %}
{% endblock %}
