{# included in all templates #}
{% if user.is_authenticated %}
    <div class='user'>{{ user.username }}</div>
    <ul class='menu'>
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'new-card' %}">Create new card</a></li>
    <li><a href="{% url 'my-ratings' %}">My ratings</a></li>
    <li><a href="{% url 'my-recommendations' %}">My recommendations</a></li>
    <li>
        <form action="{% url 'search' %}" method="get">
            <input name="search" type="text" placeholder="Search...">
        </form>
    </li>
    <li><a href="{% url 'logout' %}">logout</a></li>
    </ul>
{% else %}
    <ul class='menu'>
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'new-card' %}">Create new card</a></li>
    <li><a href="{% url 'my-ratings' %}">My ratings</a></li>
    <li><a href="{% url 'login' %}">login</a></li>
    </ul>
{% endif %}
